doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Add-Product
     
        link(rel="stylesheet", href="/css/add-product.css")
    body 
        header.main-header
            nav.main-navbar
                ul.main-header-item-list 
                    li.main-header-item
                        a(href="/") Shop
                    li.main-header-item
                        a(href="/") Add Product
        
        main 
            form.product-form(action="/admin/add-product" method="POST")
                div.form-control
                    label.form-title(for="title") Write the name of the product : 
                    input(type="text" name="title" id="title")
                
                button.submit-btn(type="submit") Add Product